<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fileVersion()) {
      <div>
        <h2 data-cy="fileVersionDetailsHeading"><span jhiTranslate="veritasdocApp.fileVersion.detail.title">File Version</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ fileVersion()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="veritasdocApp.fileVersion.fileId">File Id</span></dt>
          <dd>
            <span>{{ fileVersion()!.fileId }}</span>
          </dd>
          <dt><span jhiTranslate="veritasdocApp.fileVersion.versionNumber">Version Number</span></dt>
          <dd>
            <span>{{ fileVersion()!.versionNumber }}</span>
          </dd>
          <dt><span jhiTranslate="veritasdocApp.fileVersion.objectName">Object Name</span></dt>
          <dd>
            <span>{{ fileVersion()!.objectName }}</span>
          </dd>
          <dt><span jhiTranslate="veritasdocApp.fileVersion.createdAt">Created At</span></dt>
          <dd>
            <span>{{ fileVersion()!.createdAt | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/file-version', fileVersion()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
